* {
    margin:0;
    padding:0;
}

.login{
  justify-content: center;
  align-items: center;
}

.box1 {

  height: 100vh;
  overflow: scroll;
  width: 30%;
}
.box2 {

  height: 100vh;
  width: 70%;
}

.box3{
  height: 90vh;
  overflow: scroll;
  width: 100%;
}

.peep {
  text-align: left;
  height: 60px;
  width: 100%;
  font-size: 20px;
}
